<VirtualHost 188.225.10.135:80>
	ServerName {{ app_name }}
	DocumentRoot {{ server_root}}/{{ app_name }}
	ServerAdmin webmaster@{{ app_name }}
	AddDefaultCharset off
	SuexecUserGroup www-root www-root
	CustomLog /var/www/www-root/data/logs/{{ app_name }}.access.log combined
	ErrorLog /var/www/www-root/data/logs/{{ app_name }}.error.log
	<FilesMatch "\.ph(p[3-5]?|tml)$">
		SetHandler application/x-httpd-php
	</FilesMatch>
	<FilesMatch "\.phps$">
		SetHandler application/x-httpd-php-source
	</FilesMatch>
	<IfModule php5_module>
		php_admin_value sendmail_path "/usr/sbin/sendmail -t -i -f webmaster@realtycrm.pro"
		php_admin_value upload_tmp_dir "/var/www/www-root/data/mod-tmp"
		php_admin_value session.save_path "/var/www/www-root/data/mod-tmp"
		php_admin_value open_basedir "/var/www/www-root/data:."
	</IfModule>
	<IfModule php7_module>
		php_admin_value sendmail_path "/usr/sbin/sendmail -t -i -f webmaster@realtycrm.pro"
		php_admin_value upload_tmp_dir "/var/www/www-root/data/mod-tmp"
		php_admin_value session.save_path "/var/www/www-root/data/mod-tmp"
		php_admin_value open_basedir "/var/www/www-root/data:."
	</IfModule>
	ServerAlias www.{{ app_name }}
	DirectoryIndex index.php index.html
	SSLEngine on
	SSLCertificateFile "/var/www/httpd-cert/www-root/realtycrm.pro.crt"
	SSLCertificateKeyFile "/var/www/httpd-cert/www-root/realtycrm.pro.key"
	SSLCertificateChainFile "/var/www/httpd-cert/www-root/realtycrm.pro.ca"
	SSLHonorCipherOrder on
	SSLProtocol +TLSv1 +TLSv1.1 +TLSv1.2
	SSLCipherSuite EECDH:+AES256:-3DES:RSA+AES:!NULL:!RC4
</VirtualHost>
<Directory /var/www/www-root/data/www/{{ app_name }}/backend/web>
	Options +Includes -ExecCGI
	<IfModule php5_module>
		php_admin_flag engine on
	</IfModule>
	<IfModule php7_module>
		php_admin_flag engine on
	</IfModule>
	RewriteEngine on
	RewriteCond %{HTTPS} off
	RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
</Directory>
